* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.nav-logo {

    display: flex;
    gap: 10px;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100vw;
    background: rgb(222, 222, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;

}

.nav-list>ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    line-height: 10px;
    text-align: center;
}

.logo {
    background: green;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
}

.logo-left>p {
    color: rgb(21, 128, 61);
}

.logo-left>h3 {
    color: black;
    font: bold;
    font-size: 30px;
}

a {
    display: block;
    text-decoration: none;
}

.register {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 163, 74);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}

.hero {
    background-image: url(./hero.avif);
}